.main-wrapper {
  display: flex;
  color: white;
  flex-direction: row-reverse;
  gap: 60px;
  align-items: center;
}
.img-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.img-wrapper div {
  width: 100%;
  background-position: center;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
}
.info-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border: 3px solid #666;
  border-radius: 8px;
  padding: 20px;
}
.info-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.thumb-img {
  width: 300px;
  height: 300px;
}
.thumb-img img {
  width: 100%;
  height: 100%;
}
.img-link {
  color: #32cd32;
  font-size: 20px;
  text-decoration: none;
}
@media (max-width: 972px) {
  .main-wrapper {
    flex-direction: column;
  }
  .img-wrapper div {
    height: 500px;
  }
}
@media (max-width: 600px) {
  .main-wrapper {
    gap: 30px;
  }
  .info-wrapper{
    flex-direction: column-reverse;
  }
  .img-wrapper div {
    height: 300px;
  }
  .thumb-img {
    width: 200px;
    height: 200px;
  }
}
