.main-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.main-wrapper div{
    width: 100%;
}
.main-wrapper div img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width:500px){
    .main-wrapper{
        grid-template-columns: 1fr;
    }
}