.heading {
  color: #e8e8e8;
  text-align: center;
  font-size: 36px;
}
.title {
  color: #e8e8e8;
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  gap: 80px;
}
.img-wrapper {
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.image {
  width: 450px;
}
.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.desc {
  color: #e8e8e8;
  font-size: 22px;
  text-align: center;
}
.author {
  color: #e8e8e8;
  font-size: 24px;
  height: 100%;
  text-align: center;
}
.btn{
  border: 1px solid #e8e8e8;
  width: fit-content;
  color: #e8e8e8;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
}
@media (max-width: 950px) {
  .flex {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .heading {
    font-size: 26px;
  }
  .title {
    font-size: 24px;
  }
  .flex {
    padding: 0px;
    padding-top: 20px;
  }
  .image {
    width: 100%;
  }
  .author {
    font-size: 20px;
  }
  .desc {
    font-size: 16px;
  }
}
