body {
  margin: 0;
  padding: 20px;
  background-color: black;
}
.text {
  color: #e8e8e8;
  font-size: 36px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#input {
  background-color: black;
  color: #e8e8e8;
  outline: none;
  font-size: 20px;
  margin: auto;
  border: 0;
}
.heart {
  animation: jump-shake 5s cubic-bezier(0, 0.53, 0.32, 0.99) infinite;
}
@keyframes jump-shake {
  0% {
    transform: translateY(0);
  }
  10.3% {
    transform: translateY(-0.5rem) translateX(0%);
    transform-origin: 50% 50%;
  }

  11.38% {
    transform: translateY(-0.5rem) translateX(-0.1rem) rotate(-1deg);
  }
  12.46% {
    transform: translateY(-0.5rem) translateX(0.1rem) rotate(1deg);
  }
  13.54% {
    transform: translateY(-0.5rem) translateX(-0.1rem) rotate(-1deg);
  }
  14.62% {
    transform: translateY(-0.5rem) translateX(0.1rem) rotate(1deg);
  }
  15.7% {
    transform: translateY(-0.5rem) translateX(-0.1rem) rotate(-1deg);
  }

  17.5% {
    transform: translateY(-0.5rem) translateX(0%);
    transform-origin: 50% 50%;
  }
  27.8% {
    transform: translateY(0);
  }
}
.hi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  gap: 10px;
}
.hi {
  color: #e8e8e8;
  font-size: 26px;
}
.img {
  width: 70px;
  height: 70px;
  animation: shake 1.5s cubic-bezier(0.45, -0.01, 0, 1) infinite;
}
.img img {
  width: 100%;
  height: 100%;
}
@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  55% {
    transform: rotate(10deg);
  }
  82% {
    transform: rotate(-28deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@media (max-width: 450px) {
  .text {
    bottom: 50px;
    left: 20px;
    transform: translateX(0);
    font-size: 26px;
  }
  #input {
    margin-top: 50px;
  }
}
